[submodule "bundle/vim-fugitive"]
	path = pack/matteo/start/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-plugin-minibufexpl"]
	path = bundle/vim-plugin-minibufexpl
	url = git://github.com/weynhamz/vim-plugin-minibufexpl
[submodule "bundle/vim-airline"]
	path = pack/matteo/start/airline
	url = git://github.com/bling/vim-airline
[submodule "bundle/vim-colors-solarized"]
	path = pack/matteo/opt/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized
[submodule "bundle/vimtex"]
	path = pack/matteo/start/vimtex
	url = git://github.com/lervag/vimtex
[submodule "bundle/YouCompleteMe"]
	path = pack/matteo/start/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/vim-trailing-whitespace"]
	path = pack/matteo/start/vim-trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace.git
[submodule "bundle/vim-indent-guides"]
	path = pack/matteo/start/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/FastFold"]
	path = bundle.old/FastFold
	url = https://github.com/Konfekt/FastFold.git
[submodule "bundle/FoldText"]
	path = bundle.old/FoldText
	url = https://github.com/Konfekt/FoldText.git
[submodule "bundle/vim-signify"]
	path = pack/matteo/start/signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "bundle/YankRing"]
	path = pack/matteo/start/YankRing
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule "bundle/vim-sensible"]
	path = pack/matteo/start/sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "bundle/vim-eunuch"]
	path = pack/matteo/start/eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "bundle/vim-cmake"]
	path = pack/matteo/start/vim-cmake
	url = git://github.com/vhdirk/vim-cmake.git
[submodule "bundle/tlib_vim"]
	path = bundle.old/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim-addon-mw-utils"]
	path = bundle.old/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-dispatch"]
	path = pack/matteo/start/dispatch
	url = git://github.com/tpope/vim-dispatch.git
[submodule "bundle/vim-solarized8"]
	path = pack/matteo/opt/solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
[submodule "pack/matteo/start/ale"]
	path = pack/matteo/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "pack/matteo/start/ctrlp.vim"]
	path = pack/matteo/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
